@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'NightHuntDemo';
    src: url(../font/NightHuntDemo.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

#home #menu .atual {
    color: var(--cor-topbar-link);
}

:root {
    --cor-0: #E9E8DD;
    --cor-1: #636A71;
    --cor-2: #2E3440;
    --cor-3: #1E7668;

    --cor-Sub-item: #F2F0F5;
    --cor-topbar-link: #2eaa95;

    --font-padrao: 'Montserrat', sans-serif, Arial;
    --font-destaque: 'NightHuntDemo',  sans-serif, Arial;
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-padrao);
    font-size: 1em;

    background: #DFDAE7 url('../Image/fundo.png');
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--cor-topbar-link);
} 

/* *** HEADER ***
-----------------
*/

header {
    background: linear-gradient(to top, var(--cor-2), #1c2022);
    box-shadow: 0px 3px 8px 2px #0000001f;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;

    height: 230px;
}

header > h1 {
    font-family: var(--font-destaque);
    font-size: clamp(2em, 2.5em + 4vw, 5em);
    letter-spacing: 10px;
}

header > h1 > a {
    text-decoration: none;
    color: var(--cor-0);
}

header > h1 > a:hover {
    color: var(--cor-3);
    cursor: pointer;
}

header > h3 {
    letter-spacing: 2px;
    color: #808080;
    
    font-size: clamp(1em, 1em + 1vw, 1.3em);
    font-family: var(--font-destaque);
}

header h3:hover {
    cursor: default;
}


/* *** MENU (Small / Medium) ***
--------------------------------
*/
@media (max-width: 921.98px) {

    .container {
        padding: 5px 3%;
    }

    nav#menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        box-sizing: border-box;
        background-color: transparent;

        margin: 30px 0;
    }

    nav#menu .current-item {
        background-color: var(--cor-2);
        color: var(--cor-1);
        box-sizing: border-box;
        border-radius: 2px;

        padding: 20px;
        width: 60px;
        height: 60px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav#menu .current-item:hover {
        color: var(--cor-3);
    }

    nav#menu #menu-item > ul {
        list-style: none;
        display: none;
        
        font-weight: 400;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
    }

    nav#menu #menu-item:hover ul {
        display: inline-block;
        position: fixed;
        background-color: var(--cor-2);

        padding: 15px;
        margin-top: 5px;

        border-radius: 2px;
        box-sizing: border-box;

        width: 94%;
    }

    nav#menu ul li a {
        padding: 10px 5px;
        display: block;
    }

}

@media (min-width: 922px) {
    .container {
        margin: auto;
        max-width: 976px;
        padding: 0px;
    }

    nav#menu {
        background-color: var(--cor-2);

        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 60px auto;
        border-radius: 2px;
    }

    nav#menu .current-item {
        display: none;
    }

    nav#menu #menu-item {
        width: 60%;
    }

    nav#menu #menu-item ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;

        font-weight: 400;

        text-transform: capitalize;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
    }

}


/* *** FORMULARIO DE PESQUISA *** 
---------------------------------
*/

form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
}

input label.search, input#search {
    outline: none;
    border: none;
}

form label.Search {
    background-color: var(--cor-3);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.233);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
    color: white;

    margin-left: -4.2px;
    padding: 0px 10px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: none; 
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    font-size: 0.78em;
    font-weight: 600;
    cursor: pointer;
}


form input#search {
    width: 70%;
    height: 30px;
    
    border: 1px solid #dddddd;
    margin-left: 20px;  
    padding: 0px 5px;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.233);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    
}

/* *** MAIN ***
--------------
*/

main {
    padding: 0 10px;
    color: var(--cor-2);
}
main article {}
main article h1 {
    font-size: 1.5em;
}